body{
	width: 50%;
	margin: auto;
	border: 10px solid #bdc3c7;
	font-family: 'Source Sans Pro', sans-serif;
}
div{
	padding-left: 2%;
	padding-right: 2%
}
h2{
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 2px;
}
h1{
	color: #2c3e50
}
p:nth-of-type(1){
	border-left: 4px solid #bdc3c7;
	padding-left: 1%;
	text-align: justify;
}
